{% extends "base.html" %}
{% block title %}Delete member{% endblock%}

{% import "base.html" as base %}

{% block content %}

<H3>Add plan item</H3>
<form method="post" action="{{ url_for('training.add_plan_item') }}">
    {{ form.csrf_token }}

    <p>{{ form.plan_ID.label }}  {{ form.plan_ID(size=2) }} </p>

    <p>{{ form.training_level.label }} {{ form.training_level(size=1) }} </p>

    <p>{{ form.item_name.label }} {{ form.item_name(size=1) }} </p>

    <p>{{ form.attr_name.label }} {{ form.attr_name(size=5) }} </p>

    <p>{{ form.comp(size=1) }} </p>

    <p> {{ form.submit(size=2) }} </p>

    {% for fieldName, errorMessages in form.errors.items() %}
        {% for err in errorMessages %}
            {{ err }}
        {% endfor %}
    {% endfor %}

    {{ base.flush_form_error(form.errors.items()) }}

    {{ base.flash_message() }}
</form>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script>
 /* $( "select" )
  *     .change(function() {
  *         var str = "";
  *         $( "select option:selected" ).each(function() {
  *             str += $( this ).text() + " ";
  *         });
  *         $( "div" ).text( str );
  *     })
  *     .trigger( "change" );*/
 var dropdown = {
     item: $('#item_name'),
     attr: $('#attr_name'),
     comp: $('#comp')
 };

 updateattr();

 function updateattr() {
     var send = {
         item_name: dropdown.item.val()
     };

     console.log(send.item_name);

     //send = {item: "卧拉"}; // default
     dropdown.attr.attr('disabled', 'disabled');
     dropdown.attr.empty();
     dropdown.comp.attr('disabled', 'disabled');
     dropdown.comp.empty();

     var sel_row = "<select></select>"

     $.getJSON("_get_attr", send, function(result) {
         $.each(result, function(i, field) {
             console.log("<select \"id=comp-" + field[0] + "\" name=\"comp-" + field[0] + "\"><option value=\"larger\">larger<\/option><option value=\"smaller\">smaller<\/option>" + "</select>");
             dropdown.comp.append(
                 "<select \"id=comp-" + field[0] + "\" name=\"comp-" + field[0] + "\"><option value=\"larger\">larger<\/option><option value=\"smaller\">smaller<\/option>" + "</select>"
                 /* $('<option>', {
                  *     name: "comp-" + field[0],
                    value: ""
                  * })*/

             );
             dropdown.attr.append(
                 $('<input>', {
                     name: 'attr_name-' + field[0],
                     value: field[1],
                 })
             );

             console.log(i + " " + field);
         });
         dropdown.attr.removeAttr('disabled');
     })
 };

 dropdown.item.on('change', function() {
     updateattr();
 });


</script>


{% endblock %}
