{% extends "base.html" %}
{% block title %}Add plan{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<form action="{{ url_for('training.add_plan') }}" method="post">
    {{ csrf_token }}

    <!-- no error handling at all   -->

    <p>{{ train_at.label }} {{ train_at(size=10) }}</p>
    <p> {{ training_last.label }} {{ training_last(size=10) }} </p>

    {% for form in forms %}
    <p>{{ form.label }} {{ form(size=1) }}</p>
    {% if form.errors %}
    {% for error in form.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
    {% endfor %}
    <input type="submit" value="Add">
</form>

<button>ss</button>

<script>
 /* $( "select" )
  *     .change(function() {
  *         var str = "";
  *         $( "select option:selected" ).each(function() {
  *             str += $( this ).text() + " ";
  *         });
  *         $( "div" ).text( str );
  *     })
  *     .trigger( "change" );*/
 var dropdown = {
     item: $('#item_name'),
     attr: $('#attr_name'),
     comp: $('#comp')
 };

 updateattr();

 function updateattr() {
     var send = {
         item_name: dropdown.item.val()
     };

     console.log(send.item_name);

     //send = {item: "卧拉"}; // default
     dropdown.attr.attr('disabled', 'disabled');
     dropdown.attr.empty();
     dropdown.comp.attr('disabled', 'disabled');
     dropdown.comp.empty();

     var sel_row = "<select></select>"

     $.getJSON("_get_attr", send, function(result) {
         $.each(result, function(i, field) {
             console.log("<select \"id=comp-" + field[0] + "\" name=\"comp-" + field[0] + "\"><option value=\"larger\">larger<\/option><option value=\"smaller\">smaller<\/option>" + "</select>");
             dropdown.comp.append(
                 "<select \"id=comp-" + field[0] + "\" name=\"comp-" + field[0] + "\"><option value=\"larger\">larger<\/option><option value=\"smaller\">smaller<\/option>" + "</select>"
                 /* $('<option>', {
                  *     name: "comp-" + field[0],
                    value: ""
                  * })*/

             );
             dropdown.attr.append(
                 $('<input>', {
                     name: 'attr_name-' + field[0],
                     value: field[1],
                 })
             );

             console.log(i + " " + field);
         });
         dropdown.attr.removeAttr('disabled');
     })
 };

 dropdown.item.on('change', function() {
     updateattr();
 });


</script>


{% endblock %}
