{%- extends "bootstrap/base.html" %}
{% macro flash_message() %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro flush_form_error(items) %}
{# passing in the dictionary of the form's error object #}
        {% for fieldName, errorMessages in items %}
            {%for err in errMessages %}
                <strong> {{ fieldName }}: </strong> {{ err }}
            {% endfor %}
        {% endfor %}
{% endmacro %}

{% block title %}Base of Users{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
{{super()}}
{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}
